body {
    background-color: #f5f5f5;
    line-height: 2;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    color: #8aa6a3;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Playfair Display', 'Anta', 'Roboto', serif;
    text-align: center;
}